<div fxLayout="row" class="main-header" fxLayoutAlign="start center" >
  <div fxFlex="30" fxFlexOffset="15">
    <h2><a class="main-title" routerLink="/" routerLinkActive="active">CryptoFlow</a></h2>
  </div>
  <div fxFlex="15" fxFlexOffset="20">
    <a class="main-title" routerLink="/" routerLinkActive="active">
      <i class="material-icons">refresh</i>
    </a>
    <a class="main-title" routerLink="/settings" routerLinkActive="active">
      <i class="material-icons">settings_applications</i>
    </a>
  </div>
</div>
